<p style="color: green"><%= notice %></p>

<%= render @user_comment_rating %>

<div>
  <%= link_to "Edit this user comment rating", edit_topic_post_comment_user_comment_rating_path(@user_comment_rating) %> |
  <%= link_to "Back to user comment ratings", topic_post_comment_user_comment_ratings_path(@user_comment_rating.comment_id) %>

  <%= button_to "Destroy this user comment rating", topic_post_comment_user_comment_ratings_path(@user_comment_rating), method: :delete %>
</div>
