<%= render 'shared/filter_form'%>
<h1><%=Post.post_topic(@topic) %> Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>

    <div id="postdiv<%= post.id%>">
      <%= render 'posts/post_container', post: post%>
    </div>
  <% end %>
</div>
<% if @topic.present?%>
  <%= link_to "New post", new_topic_post_path(@topic), remote: true %>
<%end %>

<p id="new-user-form"></p>

<div>
  <%= pagy_nav(@pagy).html_safe%>
</div>




