<div id="<%= dom_id post %>">
  <p>
    <%= Post.post_read_status(post, current_user) %>
  </p>
  <p>
    <strong>Headline:</strong>
    <%= post.headline %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>


  <p>
    <%if post.post_image.attached? %>
      <%=image_tag post.post_image, style: "width: 300px; height: 100px"  %>
    <%end %>
  </p>

  <p>
    <strong>User :</strong>
    <%= post.user.email %>
  </p>

</div>
