<p>
  <%= post.users.include?(current_user) %>
</p>
<p>
  <strong>Headline:</strong>
  <%= post.headline %>
</p>

<p>
  <strong>Content:</strong>
  <%= truncate post.content,length: 50, omission: '...Read More' %>
</p>

<p>
  <strong>Avg Rating:</strong>
  <%=post.rating_average %>
</p>
<p>
  <strong>Comments:</strong>
  <%=post.comments_count %>
</p>
<p>
  <%= link_to "Show this post", topic_post_path(post.topic, post) %>
</p>